@import "tailwindcss";


* {
  scrollbar-width: thin;
  scrollbar-color: #cbd5e1 transparent;
}

/* for chrome/safari */
*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 999px;
}